.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.textWrapper::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
}

.underline {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: rgba(128, 0, 255, 0.6);
    width: 0;
    transition: width 0.3s ease, left 0.3s ease;
    filter: drop-shadow(5px 5px 5px rgba(128, 0, 255, 1));
}

.text {
    margin-bottom: 10px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.textItem {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .text {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .textWrapper {
        margin: 10px auto 50px auto;
        width: 95%;
    }

    .underline {
        width: 30%;
    }
    
    .textItem {
        font-size: 4.69vw;
    }
}

@media (min-width: 768px) {
    .textItem {
        font-size: 2.08vw;
    }

    .underline {
        width: 33.3%;
    }
}

@media (min-width: 1440px) {
    .text {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }

    .textWrapper {
        margin: 0px auto 100px auto;
        display: flex;
        justify-content: center;
    }

    .textItem {
        font-size: 40px;
        font-weight: 700;
    }
}
